.customSelect {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  /* position: 60px; */
  height: 100%;
}

.dropdownButton {
  width: 100%;
  padding: 0;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 4px;
  /* height: inherit; */
}

.dropdownButton:focus {
  border: 1px solid black;
}

.dropdownIcon {
  float: right;
}

.dropdownMenu {
  position: absolute;
  min-width: 150px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  left: 0;
  bottom: -115px;
}

.dropdownItem {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.optionImage {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .value {
    display: none;
  }
  .dropdownItem img {
    display: none;
  }
}
