
.container{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;

}
.subContenet{
    display: flex;
    gap: 5vw;
    padding-left: 10vw;
    align-items: center;
    padding-bottom: 4vh;
}
.subContenet img{
    width: 3vw;
}
.subContenet h1{
    width: 50%;
    font-size: 2vw;
    font-weight: 700;
}
.subContenet .arrow{
    width: 10vw;
    
}