.fileUploadContainer {
  margin-bottom: 20px;
  text-align: center;
}

.fileInput {
  display: none;
}

.uploadButton {
  display: inline-block;
  border: 2px solid #28a745;
  color: #28a745;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  /* border: none; */
  font-size: 16px;
  transition: 0.4s;
}

.uploadButton:hover {
  background-color: #218838;
  color: white;
}
