.main {
  position: relative;
  margin: 0px auto;
  display: flex;
  width: 1050px;
  flex-direction: column;
}

.headText {
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 30px;
  margin-bottom: 4px;
  font-weight: 600;
}
.msg {
  color: rgb(79, 79, 79);
  line-height: 1.2;
  letter-spacing: 0.5px;
}
.switcherContainer {
  display: inline-flex;
  justify-content: flex-start;
  border-bottom: 1.0px solid #e7e7e7;
  padding:20px 20px;
}
.tabs {
  padding: 2px 10px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  color: rgb(105, 105, 105);
  font-weight: 500;
  font-size: 18px;
  transition: border-bottom 0.3s ease-in-out;
}
.selectedTab {
  border-bottom: 3px solid var(--color-redish1);
  color: var(--color-redish1);
}

.collectionsBox {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.cardWrapper {
  flex: 1 1 calc(25% - 8px); /* Adjust card width and spacing */
  margin: 4px; /* Optional: Fine-tune spacing */
}

.emptySavedCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.bgImage {
  width: 360px;
}
.subText {
  text-align: center;
  line-height: 2.0;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
}

.navTrack {
  height: auto;
  margin-bottom: 4px;
}

.navTrack a {
  text-decoration: none;
  font-size: 12px;
}
.checkpoint {
  color: rgb(130, 130, 130);
}
.checkpoint:hover {
  color: var(--color-redish1);
}
.parter {
  margin: 0 4px;
}

@media (max-width: 1050px) {
  .main {
    width: 100%;
  }
  .collectionsBox {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    padding: 0 12px;
  }
  .cardWrapper {
    flex: 1 1 calc(50% - 8px); /* Adjust for smaller screens */
  }
}