.instanceCard {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f4f4f4;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.instanceCard:hover {
  background-color: #f1f1f1;
}

.restaurantImage {
  width: 100px;
  padding: 1rem;
  border-radius: 28px;
}

.restaurantName {
  font-size: 18px;
  font-weight: 600;
  word-spacing: 2px;
}

.restaurantAddress {
  color: #9c9ca0;
}

.descriptionBox {
  flex-grow: 1;
  padding: 1rem 0;
}
