.navbar {
    width: 100%;
    height: 70px;
    z-index: 5;
    color: var(--color-white);
    border-bottom: var(--brd2);
  }
  
  .navbarInner {
    width: 85%; /* Increased navbar width for better layout */
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }
  
  .menuBar {
    width: 20px;
    height: 20px;
    display: none;
    margin: 20px;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  
  .leftSide,
  .rightSide {
    display: flex;
    align-items: center;
    margin-left: 9rem;

  }
  
  .leftSide {
    cursor: pointer;
  }
  
  .appTxt {
    color: var(--color-title-text);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
  }
  
  .searchBar {
    width: 50%;
    margin-left: -55px; /* Larger width for the search bar on desktop */
  }
  
  .menuItem {
    color: var(--color-p2-text);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profilePic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .profileName {
    margin: 0px 10px;
  }
  
  .arrow {
    color: white;
  }
  
  .menu {
    position: absolute;
    top: 60px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--color-white);
    display: none;
    z-index: 1;
  }
  
  .profile:hover .menu {
    display: block;
    background-color: red !important;
  }
  
  .menuItemLink {
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .menuItemLinkTxt:first-child > .menuItemLink {
    border-radius: 10px 10px 0 0;
  }
  
  .menuItemLinkTxt:last-child > .menuItemLink {
    border-radius: 0 0 10px 10px;
  }
  
  .menuItemLink:hover {
    background-color: var(--bg-ash);
  }
  
  .menuItemLinkTxt {
    width: 100%;
    color: var(--color-title-text);
    font-weight: 350;
    text-decoration: none;
  }
  
  @media all and (max-width: 1024px) {
    .navbarInner {
      width: 95%;
      gap: 0.5rem;
    }
    .searchBar {
      width: 60%; /* Increased search bar width for tablets */
    }
  }
  
  @media all and (max-width: 480px) {
    .navbarInner {
      width: 100%;
      gap: 0;
    }
    .searchBar {
      width: 100%; /* Full width for mobile screens */
      display: block;
    }
  }
  .leftSection {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adjust gap for proximity */
  }
  